.tetradka {
    /*width: 96%;*/
    background-image: linear-gradient(90deg, transparent 708px, #ED82AD 710px, #ED82AD 711px, transparent 712px), linear-gradient(#e9e9e9 1px, transparent 0px), linear-gradient(90deg, #e9e9e9 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
    /*border: solid 1px #8a8a8a;*/
}

.tetradka__body {
    max-width: 587px;
}

.container {
    max-width: 823px;
}

.field {
    padding-left: 145px;
    padding-top: 17px;
    height: 120px;
    margin-top: 25px;
}

.frame-text {
    color: #8a2be2;
    font-size: 18px;
    line-height: 24px;
    /*font-style: italic;*/
    font-family: monospace;
    letter-spacing: 10px;
}

.river {
    height: 20px;
    width: 360px;
    position: relative;
    right: 7px;
    bottom: 19px;
    border-bottom: solid 1px #8a2be2;
    border-left: solid 1px #8a2be2;
    background-image: linear-gradient(#8a2be2 1px, transparent 0px), linear-gradient(90deg, #8a2be2 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
}


.kletka-pole {
    background-image: linear-gradient(90deg, transparent 81px, #ED82AD 81px, #ED82AD 84px, transparent 84px), linear-gradient(#bbb 1px, transparent 0px), linear-gradient(90deg, #bbb 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
}

.kletka-pole-right {
    background-image: linear-gradient(90deg, transparent 735px, #ED82AD 735px, #ED82AD 738px, transparent 738px), linear-gradient(#bbb 1px, transparent 0px), linear-gradient(90deg, #bbb 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
    font-style: italic;
}

.kletka-pole-yellow {
    background-color: #ffffef;
    background-image: linear-gradient(90deg, transparent 81px, #ED82AD 81px, #ED82AD 84px, transparent 84px), linear-gradient(#eee 1px, transparent 0px), linear-gradient(90deg, #eee 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
}
