:root {
    --main-inc-color: #8a2be2;
    --enemy-inc-color: red;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 90%;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes bump {
    0% {
        transform: scale(1.5, 1.5);
        height: 20px;
        opacity: 1;
        border: solid 2px var(--main-inc-color);
        box-shadow: inset 0 0 0 5px var(--main-inc-color, green);
    }
    25% {
        transform: scale(1, 1);
        height: 20px;
        opacity: 0.5;
        border: solid 2px var(--main-inc-color);
        box-shadow: inset 0 0 0 1px var(--main-inc-color);
    }
    50% {
        transform: scale(0.5, 0.5);
        height: 20px;
        border: solid 2px var(--main-inc-color);
        box-shadow: none;
        opacity: 0;
    }
    100% {
        height: 0;
        opacity: 0;
        border: 0;
        margin: 0;
    }
}

@keyframes up {
    0% {
        padding-top: 73px;
    }
    100% {
        padding-top: 13px;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.choosen { /*or other element you want*/
    animation: blink .5s step-end infinite alternate;
}

.tetradka {
    /*width: 96%;*/
    background-image: linear-gradient(90deg, transparent 708px, #ED82AD 710px, #ED82AD 711px, transparent 712px), linear-gradient(#e9e9e9 1px, transparent 0px), linear-gradient(90deg, #e9e9e9 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
    height: 100%;
    max-height: 700px;
    margin: 10px;
    /*border: solid 1px #8a8a8a;*/
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 710px;
    padding-top: 40px;
}

.container {
    max-width: 823px;
    /*float: left;*/
    height: 100%;
}

.field {
    padding-left: 60px;
    /*padding-top: 57px;*/
    /*position: relative;*/
    /*background-color: antiquewhite;*/
    /*margin-top: 25px;*/
}

.adjust-first {
    padding-top: 73px;
}

.adjust-second {
    padding-top: 55px;
    animation-name: show;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.adjust-third {
    animation-name: up;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /*padding-top: 58px;*/
}

.frame-text {
    color: var(--main-inc-color);
    font-size: 18px;
    line-height: 24px;
    /*font-style: italic;*/
    font-family: monospace;
    /*letter-spacing: 10px;*/
    /*margin-bottom: 29px;*/
}

.frame-text span {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
}

.before-line {
    width: 710px;
}

.river {
    height: 20px;
    width: 360px;
    position: relative;
    /*right: 7px;*/
    /*bottom: 19px;*/
    border-bottom: solid 1px var(--main-inc-color);
    border-left: solid 1px var(--main-inc-color);
    background-image: linear-gradient(var(--main-inc-color) 1px, transparent 0px), linear-gradient(90deg, var(--main-inc-color) 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
    /*background-color: lightcyan;*/
}

.ship {
    height: 20px;
    border: solid 1px var(--main-inc-color);
    margin-top: 18px;
}

.ship_river {
    height: 19px;
    /*border: solid 1px var(--main-inc-color);*/
    position: absolute;
    pointer-events: none;
    top: 0
}

.dot {
    height: 19px;
    /*border: solid 1px var(--main-inc-color);*/
    position: absolute;
    pointer-events: none;
    color: var(--main-inc-color);
    /*top: 2px;*/
    bottom: 2px;
    font-size: 20px;
    /*background-color: lightcyan;*/
    text-align: center;
    /*vertical-align: middle;*/
}

.ship.disabled {
    overflow: hidden;
    animation-name: bump;
    animation-iteration-count: 1;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.message {
    color: var(--main-inc-color);
    font-size: 30px;
    padding-left: 60px;
    padding-top: 26px;
    font-style: italic;
}

.diagonal-line {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, var(--main-inc-color) 49.9%, var(--main-inc-color) 60%, rgba(0, 0, 0, 0) 60%) fixed,
    linear-gradient(45deg, var(--main-inc-color) 10%, rgba(0, 0, 0, 0) 10%) fixed;
    background-size: 0.5em 0.5em
}

.diagonal-line-enemy {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 49.9%, var(--enemy-inc-color) 49.9%, var(--enemy-inc-color) 60%, rgba(0, 0, 0, 0) 60%) fixed,
    linear-gradient(135deg, var(--enemy-inc-color) 10%, rgba(0, 0, 0, 0) 10%) fixed;
    background-size: 0.5em 0.5em
}

.enemy {
    color: var(--enemy-inc-color);
}

.shipyard {
    /*background-color: lightcyan;*/
    /*margin: 20px;*/
    padding-left: 25px;
    padding-bottom: 23px;
    /*position: relative;*/
}

.header1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}

.kletka-pole {
    background-image: linear-gradient(90deg, transparent 81px, #ED82AD 81px, #ED82AD 84px, transparent 84px), linear-gradient(#bbb 1px, transparent 0px), linear-gradient(90deg, #bbb 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
}

.kletka-pole-right {
    background-image: linear-gradient(90deg, transparent 735px, #ED82AD 735px, #ED82AD 738px, transparent 738px), linear-gradient(#bbb 1px, transparent 0px), linear-gradient(90deg, #bbb 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
    font-style: italic;
}

.kletka-pole-yellow {
    background-color: #ffffef;
    background-image: linear-gradient(90deg, transparent 81px, #ED82AD 81px, #ED82AD 84px, transparent 84px), linear-gradient(#eee 1px, transparent 0px), linear-gradient(90deg, #eee 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
}
